{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>酒店信息查询 by as</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style type="text/css">
    .page-header-main{
        {#min-height: 120vh;#}
    }
    .page-title{
        padding: 30px 0;

        text-align: center;
        vertical-align: middle;
    }
    .page-title-p{
        font-size: 28px;
        font-weight: 600;
        color: #26a2ff;
    }
    .page__desc{
        text-align: center;
        margin-top: -2px;
        margin-bottom: 5px;
        color:#ccc;
    }
</style>
<body>
  <div id="app">
{#      <mt-header fixed title="疫苗批次号查询"></mt-header>#}
      <div class="page-header-main">
          <div class="page-title"><p class="page-title-p">酒店信息查询</p>
          <p class="page__desc" style="text-align:center;margin-top:-2px;margin-bottom: 5px;">基础信息和入住率等信息等</p>
          </div>
          <mt-field label="酒店名称" placeholder="如洪崖洞大酒店" :value.sync="jdmc"></mt-field>
          <button @click.native="handleClick" style="margin-top: 30px;" class="mint-button mint-button--primary mint-button--large">
              <label class="mint-button-text">查询酒店信息</label>
          </button>
          <input v-model="jdmc" type="hidden" id="jdmc" />
          <ul>
            <li v-for="item in list">
                <p v-for="items in item">[[items]]
                </p>
            </li>
          </ul>
      </div>
  </div>
</body>
  <!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue@1/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/mint-ui@1/lib/index.js"></script>
  <script>
      Vue.config.delimiters = ["[[", "]]"];
    new Vue({
      el: '#app',
      methods: {
        handleClick: function() {
            let that=this;
            const jdmc =  $('#jdmc').val();
            if( jdmc == '' ){
                alert('请输入有效参数!');
                return false;
            }
          $.post("/index_hotel_check/",{
              csrfmiddlewaretoken:'{{ csrf_token }}',
              'jdmc':$('#jdmc').val()
              },
                function(data){
                    if(data.length == 0){
                        alert('没有查到相关数据,请修改输入内容后重试!');
                    }else {
                        for( let i=0; i<data.length; i++ ){
                            for (let j=0; j<data[i].length; j++){

                            }
                        }
                        that.list = data
                    }
                },"json");
        }
      },
    data:{
        list:[['暂无数据']],
        activeName: '1',
        value2:'234'
    }
    });
  </script>
</html>